<h1>Leeme</h1>
<p>Este proyecto se monta usando el archivo <code>package.json</code> que instalará las dependencias necesarias para arrancarlo usando el comando <code>npm install</code>(o <code>npm i</code>).</p>

<p>Una vez completado el proceso de instalación, el comando <code>npm run start</code> arrancará el proyecto en el puerto 5000 de <code>localhost</code> y <code>json-server</code> en el puerto 3000.</p>

<p>Por último, si queremos modificar el código, debemos recompilar y convertir a JavaScript los archivos Typescript. Este es el motivo del archivo <code>tsconfig.json</code>. Podemos hacerlo de forma automática en Visual Studio Code pulsando en <code>Terminal -> Ejecutar tarea... -> tsc:seguir - tsconfig.json</code></p>

<h3>Contenidos</h3>

<ul class="list-group">
    <li class="list-group-item">
        <strong>Filter-Map-Reduce:</strong> Un ejercicio para practicar programación funcional. Utiliza un objeto JSON con contratos para listar y extraer de él algunos datos usando funciones filter, map, reduce, find, Set, etc.
    </li>
    <li class="list-group-item">
        <strong>Libros:</strong> Un CRUD(Create, Read, Update, Delete) de libros usando json-server
    </li>
    <li class="list-group-item">
        <strong>Ejercicios ES6:</strong> Un repaso a las características introducidas con ECMAScript 2015
    </li>
    <li class="list-group-item">
        <strong>Películas</strong> Un CRUD de películas esta vez usando clases de Typescript a modo de POJOs (clase Pelicula y clase FormatosPelis)
    </li>
</ul>