<h1>Leeme</h1>
<p>Este proyecto se monta usando el archivo <code>package.json</code> que instalará las dependencias necesarias para arrancarlo usando el comando <code>npm install</code>(o <code>npm i</code>).</p>

<p>Una vez completado el proceso de instalación, el comando <code>npm start run</code> arrancará el proyecto en el puerto 5000 de <code>localhost</code> y <code>json-server</code> en el puerto 3000.</p>

<p>Por último, si queremos modificar el código, debemos recompilar y convertir a JavaScript los archivos Typescript. Este es el motivo del archivo <code>tsconfig.json</code>. Podemos hacerlo de forma automática en Visual Studio Code pulsando en <code>Terminal -> Ejecutar tarea... -> tsc:seguir - tsconfig.json</code></p>