<h1>Libros</h1>

<div class="row mb-5">
        <div class="alert alert-{{vm.alertaTipo}} alert-dismissible fade show col-12" role="alert" ng-if="vm.alerta">
                {{vm.alertaTexto}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
        </div>

    <div class="col-9">
        <button ng-click="vm.nuevoLibro()" class="btn btn-sm btn-info">Crear Libro</button>
        <input type="text" class="form-control m-2" ng-model="busqueda.titulo" placeholder="Buscar libro...">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" ng-click="campo= 'id'; orden= !orden">id</th>
                <th scope="col" ng-click="campo= 'titulo'; orden= !orden">Titulo</th>
                <th scope="col" ng-click="campo= 'isbn'; orden= !orden">ISBN</th> 
                <th scope="col" ng-click="campo= 'numPaginas'; orden= !orden">Num. Páginas</th> 
                <th scope="col" ng-click="campo= 'autor'; orden= !orden">Autor</th> 
                <th scope="col" ng-click="campo= 'digital'; orden= !orden">Edición</th>  
                <th scope="col" ng-click="campo= 'formatos'; orden= !orden">Formatos</th>   
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                
              <tr ng-repeat="libro in vm.libros | filter: busqueda | orderBy: campo: orden"> 
                <td>{{libro.id}}</td>
                <td>{{libro._titulo}}</td>
                <td>{{libro._isbn}}</td>
                <td>{{libro._numPaginas}}</td>
                <td>{{libro._autor}}</td>
                <td>{{(libro._digital)?'Digital':'Papel'}}</td>
                <td>
                    <span ng-if="libro._formatos._epub" class="badge badge-info">EPUB</span>
                    <span ng-if="libro._formatos._pdf" class="badge badge-info">PDF</span>
                    <span ng-if="libro._formatos._opf" class="badge badge-info">OPF</span>
                </td>
                <td>
                    <span ng-click="vm.borrarLibro(libro); vm.alerta = false;" class="text-danger m-1"><i class="far fa-trash-alt"></i></span>
                    <span ng-click="vm.editarLibro(libro); vm.alerta = false;" class="text-primary m-1"><i class="far fa-edit"></i></span>
                </td> 
              </tr>
            </tbody>
        </table>
    </div>

    <div class="col-3 shadow-sm border p-2 rounded shadow-sm" ng-if="vm.editar">
        <form name="formu" novalidate ng-submit="vm.guardarDatos(formu.$valid)">
            <input type="hidden" name="id" ng-model="vm.formuData.id">
            <div class="form-group">
                <label for="titulo">Título </label>
                <input type="text" class="form-control" name="titulo" placeholder="Escribe título..." 
                ng-model="vm.formuData._titulo" required minlength="2" maxlength="150" 
                ng-class="{'is-valid': formu.titulo.$valid && !formu.titulo.$pristine,
                           'is-invalid': !formu.titulo.$valid && !formu.titulo.$pristine }" >
                <p class="invalid-feedback">Título debe tener entre 2 y 150 caracteres</p>
            </div>
            <div class="form-group">
                <label for="titulo">ISBN </label>
                <input type="text" class="form-control" name="isbn" placeholder="Escribe ISBN..." 
                ng-model="vm.formuData._isbn" required minlength="7" maxlength="23" 
                ng-class="{'is-valid': formu.isbn.$valid && !formu.isbn.$pristine,
                           'is-invalid': !formu.isbn.$valid && !formu.isbn.$pristine }">
                <p class="invalid-feedback">Introduce un código ISBN válido (de 7 a 23 caracteres)</p>
            </div>
            <div class="form-group">
                <label for="titulo">Num. Páginas </label>
                <input type="number" class="form-control" name="numPaginas" placeholder="Escribe Núm. de páginas..." 
                ng-model="vm.formuData._numPaginas" required min="10" max="5000" 
                ng-class="{'is-valid': formu.numPaginas.$valid && !formu.numPaginas.$pristine,
                           'is-invalid': !formu.numPaginas.$valid && !formu.numPaginas.$pristine }">
                <p class="invalid-feedback">Número de páginas debe estar entre 10 y 5000</p>
            </div>
            <div class="form-group">
                <label for="titulo">Autor </label>
                <input type="text" class="form-control" name="autor" placeholder="Escribe autor..." ng-model="vm.formuData._autor" required minlength="2" maxlength="100" 
                ng-class="{'is-valid': formu.autor.$valid && !formu.autor.$pristine,
                           'is-invalid': !formu.autor.$valid && !formu.autor.$pristine }">
                <p class="invalid-feedback">Nombre o pseudómino debe tener entre 2 y 100 caracteres</p>
            </div>

            <div class="form-check mb-2">
                <input type="checkbox" class="form-check-input" name="digital" ng-model="vm.formuData._digital">
                <label for="titulo" class="form-check-label">Digital </label>
            </div>
            <div class="form-group" ng-show="vm.formuData._digital">
                <label>Formatos </label><br> <!-- epub, pdf, opf-->
                <input type="checkbox" class="form-check-label" name="formatos.epub" ng-model="vm.formuData._formatos._epub"> epub
                <input type="checkbox" class="form-check-label" name="formatos.pdf" ng-model="vm.formuData._formatos._pdf"> pdf
                <input type="checkbox" class="form-check-label" name="formatos.opf" ng-model="vm.formuData._formatos._opf"> opf
            </div>
            
            <button class="btn btn-success btn-sm" type="submit" ng-disabled="formu.$invalid || formu.$pristine">{{(vm.formuData._id)?'Modificar':'Crear nuevo'}}</button>
            <button class="btn btn-danger btn-sm" ng-click="$event.preventDefault(); vm.editar = false" data-dismiss="modal">Cancelar</button>
        </form>
    </div>
    
</div>



