<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">       
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" ui-sref="home" ui-sref-active="active"><i class="fas fa-home"></i> Home</a>
            <a class="nav-item nav-link" ui-sref="leeme" ui-sref-active="active"><i class="fab fa-readme"></i> Leeme</a>
            <a class="nav-item nav-link" ui-sref="contratos" ui-sref-active="active"><i class="fas fa-exchange-alt"></i> Filter-Map-Reduce</a>
            <a class="nav-item nav-link" ui-sref="libros" ui-sref-active="active"><i class="fas fa-book"></i> Libros</a>
            <a class="nav-item nav-link" ui-sref="ejerciciosEC6" ui-sref-active="active"><i class="fab fa-js"></i> Ejercicios EC6</a>
            <a class="nav-item nav-link" ui-sref="peliculas" ui-sref-active="active"><i class="fas fa-film"></i> Películas</a>          
        </div>
    </div>
</nav>